<!-- No descomentar hasta el paso 2 -->
<template name="loQueVaEnUnLado">
		<div class="jumbotron">
				<p>ChapiTeando es un ejemplo en Meteor que implementa un Chat sencillo.</p>
				<p>He tenido que instalar los siguientes paquetes:</p>
				<ul>
					<li>accounts-password</li>
					<li>ian:accounts-ui-bootstrap-3</li>
					<li>iron:router</li>
					<li>mizzao:bootstrap-3</li>
				</ul>
				<p>Los estilos de los bocadillos de texto son de
					<a href="http://jsfiddle.net/thinkingstiff/mek5z/">http://jsfiddle.net/thinkingstiff/mek5z/</a>
				</p>
		</div>
</template>
